/*
 * dashboard.css
 */
 body {

 	color: black;
 }
.cover {
	padding: 0 80px;
}

.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}

.cover-heading {
	text-align: center;
}

#profileHeader {
	text-align: center;
}

#profilePicture {
	width: 100px;
}

#profilePictureContainer {
	text-align: center;
	height: 150px;
}

#loadingPicture {
	width: 25px;
	margin-top: 35px;
}


#edit-status-confirm.ng-hide {
	animation: 0.5s statusChange;
	transition: visibility 0s linear;
    margin-bottom: 40px;
}

#edit-status-confirm {
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 20px;
}

.profile-button-group {
	align-items: center;
	justify-content: center;
	display: flex;
}

.table-container {
	padding: 20px 30px;
}

.h2 {
	text-align: center;
}

input {
	margin 8px 0px;
}

@keyframes statusChange {
    from {
       opacity: 1;
    } to {
       opacity: 0;
    }
}