/*
 * Cover
 */
 a{
 	z-index: 500;
 }
 
 .error-text {
 	color: red;
 }
 
 .checkmark-span-green {
 	color: green;
 }
 #nav-topics>ul>li.active {
 	font-weight: bold;
 }
 
 .anchor {
	padding-top:90px;
 }
 
.cover {
	padding: 0 20px;
	text-align: center;
}

.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}

body {
	color: black;
	position: relative;
}

.body-white {
	background-color: white;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

.white-text {
	color: white;
}
#adminUserTable.table-bordered>tbody>tr>td>.label {
	display:block;
	line-height: 2;
}

#adminUserTable.table-bordered>tbody>tr>td>div>button {
	width: 70px;
}

#actionButtonGroup {
	text-align: center;
}

#confirmMessage {
	width: 400px;
}

#main {
	padding-top: 40px;
	position: relative;
	height:600px; 
	max-height: 400px;
	width: 100%;
}

.navbar-fixed {
	position: fixed;
	top: 50px;
	left: -2;
	width: 101%;
	z-index: 1; /* Stay on top */
}

.offset:before { 
	display: block; 
 	content: " "; 
  	height: 35px;      /* Give height of your fixed element */
        margin-top: -35px; /* Give negative margin of your fixed element */  	
        visibility: hidden; 
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 50px;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#demo-2-container {
	padding-top: 40px;
}

#demo-parent {
	position: relative;
}

#spa_Navbar_MenuButton {
	top:10px;
}

#select-account-type {
	margin-top: 2px;
    width: 100%;
    height: 31px;
}

th a {
    display:block;
    width:100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #016699;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}
