/*
 * messages.css
 */
body {
	text-shadow: none;
}

#messageForm label {
	text-align: right;
	color: black;
	
}

/* a {
	text-shadow: none;
	text-align: left;
	color: dodgerblue;
} */

.nav>li>a:focus, .nav>li>a:hover {
	background-colour: #eee;
	color: black;
}

li {
	text-align: left;
}

ul.options>li>a {
	text-shadow: none;
	text-align: left;
	color: dodgerblue;
}

#userResultsList {
	position: fixed;
	width: 45%;
	z-index: 1;
}

#userResultsListItem {
	color: black;
}

.message-send-button {
	display: flex;
	align-items: center;
	justify-content: center;
}
#inboxItem, #sentItem {
	color: black;
}

.modal-content {
	color: black;
}

textarea {
	resize: none;
}
#index-panel {
	text-align: center;
}

/* accordion styles */

.panel-group .panel+.panel{
	margin-top:1px;
}
.inbox-accordion-header {
	bottom-border: 0px;
}

.inbox-accordion-panel {
	padding: 0px;
}

a.inbox-accordion-header-anchor {
	color: black;
	outline: none;
}

