/*
 * Search Results
 */
 
 #nav-topics>ul>li.active {
 	font-weight: bold;
 }
 
 .anchor {
	padding-top:90px;
 }
 
.cover {
	padding: 0 20px;
	text-align: center;
}

.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}

body {
	color: black;
	position: relative;
}

.body-white {
	background-color: white;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

.white-text {
	color: white;
}


.navbar-fixed {
	position: fixed;
	top: 50px;
	left: -2;
	width: 101%;
	z-index: 1; /* Stay on top */
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 50px;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #016699;
}

td {
	padding: 15px;
}

table td[class*=col-] {
	text-align: right;
	font-weight: bold;
}



