<div class="header">
      <i class="fa fa-angle-left" data-ng-click="previous()"></i>
      <span>{{month.format("MMMM, YYYY")}}</span>
      <i class="fa fa-angle-right" data-ng-click="next()"></i>
    </div>
    <div class="week names">
      <span class="day">Sun</span>
      <span class="day">Mon</span>
      <span class="day">Tue</span>
      <span class="day">Wed</span>
      <span class="day">Thu</span>
      <span class="day">Fri</span>
      <span class="day">Sat</span>
    </div>
    <div class="week" data-ng-repeat="week in weeks">
      <span class="day" 
      		data-ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" 
      		data-ng-click="select(day)" data-ng-repeat="day in week.days">{{day.number}}
   		 </span>
 </div>